<!doctype html>
<html>
<head>
  <title>LingoChat</title>
  <!-- Style -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css">
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js"></script>
  <script src="/js/bootstrap-table.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js">
  </script>
  <script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js">
</script>
<script src="/static/js/sweetalert.min.js"></script> 
</head>

<body>
{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed" 
              data-toggle="collapse" 
              data-target="#bs-example-navbar-collapse-1" 
              aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">LingoChat</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if "user_id" not in session %}
        <li><a href="/register">Signup</a></li>
        {% endif %}
            {% if "user_id" in session %}
              <li><a href="/users/{{ session['user_id'] }}/chat">LiveChat</a></li>
             {% endif %}
              {% if "user_id" in session %}
              <li><a href="/users/{{ session['user_id'] }}/messages">Message Analysis</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if "user_id" in session %}
        <li><a href="/check_login">Send Message</a></li>
        {% endif %}
        <li class="dropdown">
        {% if "user_id" in session %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Myself<span class="caret"></span></a>
          <ul class="dropdown-menu">
        {% endif %}
            {% if "user_id" in session %}
            <li><a href="/users/{{ session['user_id'] }}/add_contact">Add Contact</a></li>
             {% endif %}
             {% if "user_id" in session %}
              <li><a href="/users/{{ session['user_id'] }}/edit_user">Edit Profile</a></li>
             {% endif %}
             {% if "user_id" in session %}
            <li><a href="/check_login">User Profile</a></li>
            {% endif %}
            <li role="separator" class="divider"></li>
            {% if "user_id" in session %}
            <li class="active"><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}
    Put your body here.
{% endblock %}
</body>
</html>
