<!doctype html>
<html>
<head>
  <title>My App</title>
  <!-- Style -->
  <link href="/static/css/style.css" rel="stylesheet"></link>
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js"></script>
  <script src="/js/bootstrap-table.js"></script>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js">
  </script>
  <script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js">
</script>
</head>
<body>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">My App</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if "user_id" in session %}
          <li class="active"><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
        {% else %}
          <li class="active"><a href="/login">Login <span class="sr-only">(current)</span></a></li>
        {% endif %}
        <li><a href="/register">Signup</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Socialize <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if "user_id" in session %}
              <li><a href="/users/{{ session['user_id'] }}/send_text">Send Message</a></li>
            {% else %}
              <li class="active"><a href="/login">Login <span class="sr-only">(current)</span></a></li>
            {% endif %}
            {% if "user_id" in session %}
              <li><a href="/users/{{ session['user_id'] }}/chat">Chat</a></li>
            {% else %}
              <li class="active"><a href="/login">Login <span class="sr-only">(current)</span></a></li>
             {% endif %}
            <li role="separator" class="divider"></li>
              {% if "user_id" in session %}
              <li><a href="/users/{{ session['user_id'] }}/messages">Messages</a></li>
            {% else %}
              <li class="active"><a href="/login">Login <span class="sr-only">(current)</span></a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/check_login">User Profile</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Myself <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if "user_id" in session %}
            <li><a href="/users/{{ session['user_id'] }}/add_contact">Add Contact</a></li>
            {% else %}
              <li class="active"><a href="/login">Login <span class="sr-only">(current)</span></a></li>
             {% endif %}
             {% if "user_id" in session %}
              <li><a href="/users/{{ session['user_id'] }}/edit_user">Edit Profile</a></li>
            {% else %}
              <li class="active"><a href="/login">Login <span class="sr-only">(current)</span></a></li>
             {% endif %}
            <li><a href="/check_login">User Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% block content %}
    Put your body here.
{% endblock %}
</body>
</html>
