{% extends 'base.html' %}
{% block content %}

<h1>New Contact</h1>

<form action="/users/{{ user_id }}/add_contact" method="POST">

     <div>
        <label>
            First Name
            <input type="text" name="first_name">
        </label>
    </div> 

    <div>
        <label>
            Last Name
            <input type="text" name="last_name">
        </label>
    </div> 

    <div>
        <label>Language
        <select name="lang_id">
        {% for lang in languages %}
          <option value= {{ lang[0] }} >{{ lang[1] }}</option>
        {% endfor %}
        </select>
    </label>
    </div>

    <div>
        <label>
            Phone
            <input type="text" name="phone">
        </label>
    </div>

    <div>
        <input type="submit" value="Submit">
    </div>

</form>

{% endblock %}