{% extends 'base.html' %}
{% block content %}

   <h1>Send Message</h1>
    <form action="/users/{{ user_id }}/send_text/preview" method="POST">
        <div>
            <label>Message:
                <textarea type="text" name="text" required></textarea>
            </label>
        </div>
        {% if existing_message %}
        Your message: {{ existing_message }}
       {% endif %}
        <div>
            <input type="submit" value="Send message" id="send">
            <input type="submit" value="Preview message" id="preview">
        </div>
     <div>
      <label>Choose a contact
      <select name="contact_id">
      {% for contact in contacts %}
        <option value= {{ contact[0] }}> {{ contact[2] }} {{ contact[1] }} </option>
      {% endfor %}
      </select>
    </label>
    </div>
    </form>
    <h4><a href="/users/{{ user_id }}">User's Profile</a></h4>

{% endblock %}