{% extends 'base.html' %}
{% block content %}
   <h1>Send Message</h1>
    <form action="/users/{{ user_id }}/send_text/submit" method="POST">
        <div>
            <label>Message:
                <textarea type="text" name="text" id = "message" required></textarea>
            </label>
        </div>
        {% if existing_message %}
        Your message: {{ existing_message }}
       {% endif %}
        <div>
            <input type="submit" value="Send message" id="send">
            <input type="button" value="Preview message" id="preview">
        </div>
        <br>
    
        <div class="container" id="results">
        </div>
        <!-- dynamic inputs -> inside my div -->
        <div id="checkboxes" name="contact_id">
        {% for contact in contacts %}
            <label for= {{ contact[0] }}><input name="{{ contact[4] }}" id="{{ contact[4] }}" type="checkbox" class="checkboxes"/>{{ contact[2] }} {{ contact[1] }}</label><br>
        {% endfor %}
    </div>
    </div>
</form>
    <script>
    var expanded = false;
    function showCheckboxes() {
        var checkboxes = $("#checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }
  </script>
  <script type="text/javascript">
        var button = $("#preview");
        button.click(function() {
        var contactIds = [];
        var checkedValues = $('.checkboxes:checked').each(function() {
            contactIds.push($(this).attr('id'));
        });

            var postData = { 
                    text: $("#message").val(),
                    contactIds: contactIds
            };
            $.ajax({
                url: "/users/{{ user_id }}/send_text/preview",
                data: postData,
                datatype: "json",
                traditional: true,
                type: "POST",
                success: function(data) {
                    $("#results").html(data)
                }
            });
        });
 </script>
{% endblock %}