{% extends 'base.html' %}
{% block content %}

<h1>Sign Up</h1>

<form action="/register" method="POST">

    <div>
        <label>
            Email
            <input type="email" name="email">
        </label>
    </div>

    <div>
        <label>
            Password
            <input type="password" name="password">
        </label>
    </div>

     <div>
        <label>
            First Name
            <input type="text" name="first_name">
        </label>
    </div> 

    <div>
        <label>
            Last Name
            <input type="text" name="last_name">
        </label>
    </div> 

    <div>
        <label>
            Language
            <input type="text" name="lang">
        </label>
    </div>

    <div>
        <label>
            Phone
            <input type="text" name="phone">
        </label>
    </div>

    <div>
        <input type="submit" value="Submit">
    </div>

</form>

{% endblock %}