form {
  margin-top: 25px;
}

.btn {
  margin: 25px, 25px;
  display: inline-block;
  padding: 15px 30px;
  border: 1px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}
.btn:hover {
  color: #fff;
  border-color: #BFFF97;
}

input[type="text"] {
  width: 350px;
  padding: 10px 0px;
  background: transparent;
  border-bottom: 1.5px solid #cccccc;
  outline: medium;
  color: grey;
  font-size: 16px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 38px;
}

input[type="submit"] {
  background: #ccc;
  left-margin: 25px;
  position: relative;
  left: 200px;
  border: 0;
  width: 355px;
  height: 40px;
  border-radius: 0px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background: #cccccc;
  animation-name: shake;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 35px;
   overflow: hidden;
   width: 355px;
   margin-bottom: 38px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.langselect {
  -webkit-appearance: none; 
  color: grey;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}


