html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url(/static/img/aurora.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

.navbar {
  background: transparent;
  border: none;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
  color: #fff;
  font-family: 'Raleway', sans-serif;

}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
  color: #ED8429;
}

.motto {
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 72px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.left {
  margin-top: 100px;
}

form {
  margin-top: 25px;
}

#signup {
    color: #ffd200;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 125px;
}

.btn {
  margin: 25px, 25px;
  display: inline-block;
  padding: 15px 30px;
  border: 1px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}
.btn:hover {
  color: #fff;
  border-color: #BFFF97;
}

input[type="email"], input[type="password"], input[type="text"] {
  width: 350px;
  padding: 10px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1.5px solid #cccccc;
  outline: none;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 38px;
}

input[type="submit"] {
  background: #ccc;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 0px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
input[type="submit"]:hover {
  background: #cccccc;
  animation-name: shake;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 35px;
   overflow: hidden;
   width: 350px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.langselect {
  -webkit-appearance: none; 
  color: rgba(255, 255, 255, 0.44);
  /*background-color: #3b8ec2;*/ 
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}


